In [2]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [3]:
X, y = load_iris(return_X_y=True)

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [7]:
scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [8]:
X_train_scaled

array([[-9.58697057e-01, -1.77069364e+00, -1.88503681e-01,
        -2.05099200e-01],
       [-7.19022793e-01,  2.26805848e+00, -1.20135928e+00,
        -1.36482243e+00],
       [ 1.07853419e+00,  2.43073044e-02,  5.99272897e-01,
         4.39191482e-01],
       [-1.19837132e-01, -1.09756828e+00, -7.59641700e-02,
        -2.05099200e-01],
       [-4.79348529e-01,  1.37055801e+00, -1.20135928e+00,
        -1.23596429e+00],
       [-8.38859925e-01,  9.21807775e-01, -1.25762904e+00,
        -1.10710616e+00],
       [-1.19837132e+00, -2.00067813e-01, -1.25762904e+00,
        -1.36482243e+00],
       [-9.58697057e-01,  2.48682422e-01, -1.37016855e+00,
        -1.23596429e+00],
       [-8.38859925e-01,  9.21807775e-01, -1.25762904e+00,
        -1.23596429e+00],
       [-1.43804559e+00,  2.48682422e-01, -1.25762904e+00,
        -1.23596429e+00],
       [ 2.39674264e-01, -1.99506876e+00,  7.68082164e-01,
         4.39191482e-01],
       [-3.59511397e-01, -1.32194340e+00,  2.05384608e-01,
         1.81475209e-01],
       [-1.19837132e+00,  6.97432658e-01, -1.14508953e+00,
        -1.23596429e+00],
       [-8.38859925e-01,  1.59493313e+00, -1.14508953e+00,
        -1.23596429e+00],
       [ 4.79348529e-01, -4.24442931e-01,  3.74193875e-01,
         1.81475209e-01],
       [-1.19837132e-01, -2.00067813e-01,  3.17924119e-01,
         5.26170724e-02],
       [ 9.58697057e-01, -4.24442931e-01,  5.43003141e-01,
         1.81475209e-01],
       [-7.19022793e-01, -8.73193167e-01,  1.49114852e-01,
         3.10333345e-01],
       [-1.07853419e+00,  1.14618289e+00, -1.25762904e+00,
        -1.36482243e+00],
       [ 3.19310264e-15, -8.73193167e-01,  2.61654363e-01,
        -2.05099200e-01],
       [-2.39674264e-01, -2.00067813e-01,  4.86733386e-01,
         4.39191482e-01],
       [-1.19837132e+00, -2.00067813e-01, -1.25762904e+00,
        -1.10710616e+00],
       [ 7.19022793e-01,  2.48682422e-01,  4.86733386e-01,
         4.39191482e-01],
       [ 7.19022793e-01, -6.48818049e-01,  1.10570070e+00,
         1.21234030e+00],
       [ 1.07853419e+00, -1.32194340e+00,  1.21824021e+00,
         8.25765891e-01],
       [ 2.27690551e+00, -2.00067813e-01,  1.38704948e+00,
         1.47005657e+00],
       [ 1.19837132e-01, -2.00067813e-01,  3.17924119e-01,
         4.39191482e-01],
       [ 1.07853419e+00,  4.73057540e-01,  1.16197045e+00,
         1.72777285e+00],
       [-1.67771985e+00, -4.24442931e-01, -1.25762904e+00,
        -1.23596429e+00],
       [-8.38859925e-01,  4.73057540e-01, -1.08881977e+00,
        -8.49389882e-01],
       [ 5.99185661e-01,  4.73057540e-01,  1.33077972e+00,
         1.72777285e+00],
       [-9.58697057e-01,  6.97432658e-01, -1.20135928e+00,
        -1.23596429e+00],
       [-1.31820845e+00,  2.48682422e-01, -1.31389879e+00,
        -1.23596429e+00],
       [-3.59511397e-01, -1.77069364e+00,  2.05384608e-01,
         1.81475209e-01],
       [-9.58697057e-01,  9.21807775e-01, -1.31389879e+00,
        -1.10710616e+00],
       [-1.43804559e+00,  1.14618289e+00, -1.48270806e+00,
        -1.23596429e+00],
       [ 7.19022793e-01,  2.43073044e-02,  1.04943094e+00,
         8.25765891e-01],
       [-8.38859925e-01,  1.37055801e+00, -1.20135928e+00,
        -9.78248019e-01],
       [ 5.99185661e-01, -1.32194340e+00,  7.68082164e-01,
         9.54624027e-01],
       [ 2.39674264e-01, -8.73193167e-01,  8.24351919e-01,
         5.68049618e-01],
       [ 7.19022793e-01, -8.73193167e-01,  9.36891430e-01,
         9.54624027e-01],
       [-9.58697057e-01,  6.97432658e-01, -1.14508953e+00,
        -9.78248019e-01],
       [-7.19022793e-01,  6.97432658e-01, -1.25762904e+00,
        -1.23596429e+00],
       [-2.39674264e-01, -1.32194340e+00,  1.49114852e-01,
        -7.62410640e-02],
       [ 4.79348529e-01, -6.48818049e-01,  6.55542653e-01,
         8.25765891e-01],
       [-4.79348529e-01,  6.97432658e-01, -1.08881977e+00,
        -1.23596429e+00],
       [ 4.79348529e-01,  6.97432658e-01,  9.93161186e-01,
         1.47005657e+00],
       [ 1.67771985e+00, -2.00067813e-01,  1.21824021e+00,
         5.68049618e-01],
       [-1.07853419e+00, -2.00067813e-01, -1.25762904e+00,
        -1.23596429e+00],
       [ 1.55788272e+00, -2.00067813e-01,  1.27450996e+00,
         1.21234030e+00],
       [ 2.27690551e+00, -1.09756828e+00,  1.83720752e+00,
         1.47005657e+00],
       [ 5.99185661e-01, -8.73193167e-01,  7.11812408e-01,
         8.25765891e-01],
       [ 3.19310264e-15, -8.73193167e-01,  8.24351919e-01,
         9.54624027e-01],
       [ 1.19837132e-01, -2.00067813e-01,  8.24351919e-01,
         8.25765891e-01],
       [-9.58697057e-01,  9.21807775e-01, -1.14508953e+00,
        -7.20531746e-01],
       [ 1.07853419e+00,  2.43073044e-02,  1.10570070e+00,
         1.59891471e+00],
       [ 2.39674264e-01,  6.97432658e-01,  4.86733386e-01,
         5.68049618e-01],
       [-1.19837132e-01, -6.48818049e-01,  4.86733386e-01,
         1.81475209e-01],
       [-2.39674264e-01, -2.00067813e-01,  2.61654363e-01,
         1.81475209e-01],
       [-1.07853419e+00, -1.32194340e+00,  4.86733386e-01,
         6.96907754e-01],
       [-1.19837132e-01, -4.24442931e-01,  3.17924119e-01,
         1.81475209e-01],
       [ 3.19310264e-15, -6.48818049e-01,  8.24351919e-01,
         1.59891471e+00],
       [ 3.59511397e-01, -2.00067813e-01,  5.43003141e-01,
         3.10333345e-01],
       [-1.07853419e+00, -1.54631852e+00, -1.88503681e-01,
        -2.05099200e-01],
       [-4.79348529e-01, -2.00067813e-01,  4.86733386e-01,
         4.39191482e-01],
       [ 8.38859925e-01, -6.48818049e-01,  5.43003141e-01,
         4.39191482e-01],
       [ 1.67771985e+00,  1.14618289e+00,  1.38704948e+00,
         1.72777285e+00],
       [ 1.07853419e+00, -2.00067813e-01,  8.80621675e-01,
         1.47005657e+00],
       [ 5.99185661e-01,  4.73057540e-01,  5.99272897e-01,
         5.68049618e-01],
       [ 2.15706838e+00, -2.00067813e-01,  1.66839825e+00,
         1.21234030e+00],
       [ 1.91739411e+00, -6.48818049e-01,  1.38704948e+00,
         9.54624027e-01],
       [-1.55788272e+00, -1.77069364e+00, -1.31389879e+00,
        -1.10710616e+00],
       [-1.79755698e+00, -2.00067813e-01, -1.42643830e+00,
        -1.36482243e+00],
       [-2.39674264e-01, -8.73193167e-01,  3.17924119e-01,
         1.81475209e-01],
       [-9.58697057e-01, -2.44381899e+00, -7.59641700e-02,
        -2.05099200e-01],
       [-3.59511397e-01, -1.09756828e+00,  4.30463630e-01,
         5.26170724e-02],
       [ 1.07853419e+00,  4.73057540e-01,  1.16197045e+00,
         1.21234030e+00],
       [-5.99185661e-01,  1.37055801e+00, -1.20135928e+00,
        -1.23596429e+00],
       [ 1.31820845e+00,  2.43073044e-02,  8.24351919e-01,
         1.47005657e+00],
       [-8.38859925e-01,  1.59493313e+00, -1.20135928e+00,
        -1.10710616e+00],
       [-9.58697057e-01,  1.14618289e+00, -1.25762904e+00,
        -1.23596429e+00],
       [-1.31820845e+00,  2.48682422e-01, -1.14508953e+00,
        -1.23596429e+00],
       [-4.79348529e-01,  6.97432658e-01, -1.20135928e+00,
        -9.78248019e-01],
       [-1.43804559e+00,  6.97432658e-01, -1.25762904e+00,
        -1.10710616e+00],
       [ 5.99185661e-01, -1.32194340e+00,  7.11812408e-01,
         4.39191482e-01],
       [ 3.59511397e-01, -6.48818049e-01,  2.05384608e-01,
         1.81475209e-01],
       [-3.59511397e-01, -1.54631852e+00,  3.65753411e-02,
        -2.05099200e-01],
       [ 1.19837132e-01,  2.48682422e-01,  6.55542653e-01,
         8.25765891e-01],
       [-4.79348529e-01,  1.81930825e+00, -1.31389879e+00,
        -9.78248019e-01],
       [ 2.39674264e-01, -4.24442931e-01,  4.86733386e-01,
         4.39191482e-01],
       [ 9.58697057e-01, -2.00067813e-01,  4.30463630e-01,
         3.10333345e-01],
       [-1.07853419e+00,  2.43073044e-02, -1.20135928e+00,
        -1.36482243e+00],
       [-8.38859925e-01,  1.59493313e+00, -9.76280259e-01,
        -9.78248019e-01],
       [ 2.51657978e+00,  1.59493313e+00,  1.55585874e+00,
         1.08348216e+00],
       [ 1.67771985e+00,  2.48682422e-01,  1.33077972e+00,
         8.25765891e-01],
       [-1.19837132e-01,  1.59493313e+00, -1.08881977e+00,
        -1.10710616e+00],
       [ 2.27690551e+00,  1.59493313e+00,  1.72466801e+00,
         1.34119844e+00],
       [-1.07853419e+00,  2.43073044e-02, -1.20135928e+00,
        -1.23596429e+00],
       [-4.79348529e-01,  1.81930825e+00, -1.08881977e+00,
        -9.78248019e-01],
       [ 7.19022793e-01,  2.48682422e-01,  9.36891430e-01,
         1.47005657e+00],
       [ 1.19837132e+00,  2.48682422e-01,  1.27450996e+00,
         1.47005657e+00],
       [ 3.59511397e-01, -2.00067813e-01,  7.11812408e-01,
         8.25765891e-01],
       [-3.59511397e-01,  9.21807775e-01, -1.31389879e+00,
        -1.23596429e+00],
       [-8.38859925e-01,  6.97432658e-01, -1.20135928e+00,
        -1.23596429e+00],
       [ 1.31820845e+00,  2.43073044e-02,  7.11812408e-01,
         4.39191482e-01],
       [ 1.07853419e+00, -2.00067813e-01,  7.68082164e-01,
         6.96907754e-01],
       [-1.67771985e+00, -2.00067813e-01, -1.31389879e+00,
        -1.23596429e+00],
       [-1.19837132e+00,  2.43073044e-02, -1.14508953e+00,
        -1.23596429e+00],
       [ 5.99185661e-01,  6.97432658e-01,  1.10570070e+00,
         1.59891471e+00],
       [ 3.19310264e-15, -1.09756828e+00,  2.05384608e-01,
         5.26170724e-02],
       [ 3.19310264e-15,  2.04368336e+00, -1.37016855e+00,
        -1.23596429e+00],
       [ 2.39674264e-01, -1.99506876e+00,  2.05384608e-01,
        -2.05099200e-01],
       [ 1.07853419e+00,  2.43073044e-02,  4.30463630e-01,
         3.10333345e-01],
       [-1.19837132e-01,  2.94118384e+00, -1.20135928e+00,
        -9.78248019e-01],
       [ 1.19837132e+00, -6.48818049e-01,  6.55542653e-01,
         3.10333345e-01],
       [-2.39674264e-01, -6.48818049e-01,  7.11812408e-01,
         1.08348216e+00],
       [-1.19837132e+00,  6.97432658e-01, -9.76280259e-01,
        -1.23596429e+00],
       [ 5.99185661e-01, -1.77069364e+00,  4.30463630e-01,
         1.81475209e-01],
       [ 1.31820845e+00,  2.48682422e-01,  1.16197045e+00,
         1.47005657e+00],
       [ 2.39674264e-01, -2.00067813e-01,  6.55542653e-01,
         8.25765891e-01]])

In [9]:
from sklearn.datasets import fetch_openml
from sklearn.preprocessing import OrdinalEncoder

In [11]:
data = fetch_openml('car', as_frame=True, version=3).frame

In [12]:
data

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [15]:
columns_to_encode = ['lug_boot', 'safety']

encoder = OrdinalEncoder(
    categories = [
        ['small', 'med', 'big'],
        ['low', 'med', 'high'],
    ]
)

data[columns_to_encode] = encoder.fit_transform(data[columns_to_encode])

In [16]:
data

     buying  maint  doors persons  lug_boot  safety  class
0     vhigh  vhigh      2       2       0.0     0.0  unacc
1     vhigh  vhigh      2       2       0.0     1.0  unacc
2     vhigh  vhigh      2       2       0.0     2.0  unacc
3     vhigh  vhigh      2       2       1.0     0.0  unacc
4     vhigh  vhigh      2       2       1.0     1.0  unacc
...     ...    ...    ...     ...       ...     ...    ...
1723    low    low  5more    more       1.0     1.0   good
1724    low    low  5more    more       1.0     2.0  vgood
1725    low    low  5more    more       2.0     0.0  unacc
1726    low    low  5more    more       2.0     1.0   good
1727    low    low  5more    more       2.0     2.0  vgood

[1728 rows x 7 columns]

In [17]:
encoder.inverse_transform(data[columns_to_encode])

array([['small', 'low'],
       ['small', 'med'],
       ['small', 'high'],
       ...,
       ['big', 'low'],
       ['big', 'med'],
       ['big', 'high']], shape=(1728, 2), dtype=object)

In [19]:
data = fetch_openml('adult', as_frame=True, version=1).frame

In [20]:
data

      age         workclass  fnlwgt  ... hoursperweek  native-country  class
0       2         State-gov   77516  ...            2   United-States  <=50K
1       3  Self-emp-not-inc   83311  ...            0   United-States  <=50K
2       2           Private  215646  ...            2   United-States  <=50K
3       3           Private  234721  ...            2   United-States  <=50K
4       1           Private  338409  ...            2            Cuba  <=50K
...    ..               ...     ...  ...          ...             ...    ...
48837   2           Private  215419  ...            2   United-States  <=50K
48838   4               NaN  321403  ...            2   United-States  <=50K
48839   2           Private  374983  ...            3   United-States  <=50K
48840   2           Private   83891  ...            2   United-States  <=50K
48841   1      Self-emp-inc  182148  ...            3   United-States   >50K

[48842 rows x 15 columns]

In [21]:
from sklearn.preprocessing import OneHotEncoder

In [22]:
data.occupation.value_counts()

occupation
Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: count, dtype: int64

In [26]:
import pandas as pd

encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

encoded_values = encoder.fit_transform(data[['occupation', 'race']])
new_cols = encoder.get_feature_names_out(['occupation', 'race'])

In [27]:
encoded_values

array([[1., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.]], shape=(48842, 20))

In [28]:
new_cols

array(['occupation_Adm-clerical', 'occupation_Armed-Forces',
       'occupation_Craft-repair', 'occupation_Exec-managerial',
       'occupation_Farming-fishing', 'occupation_Handlers-cleaners',
       'occupation_Machine-op-inspct', 'occupation_Other-service',
       'occupation_Priv-house-serv', 'occupation_Prof-specialty',
       'occupation_Protective-serv', 'occupation_Sales',
       'occupation_Tech-support', 'occupation_Transport-moving',
       'occupation_nan', 'race_Amer-Indian-Eskimo',
       'race_Asian-Pac-Islander', 'race_Black', 'race_Other',
       'race_White'], dtype=object)

In [29]:
df_encoded = pd.DataFrame(encoded_values, columns=new_cols, index=data.index)

data_final = pd.concat(
    [data.drop(columns=['occupation', 'race']), df_encoded],
    axis=1
)

In [30]:
data_final

      age         workclass  fnlwgt  ... race_Black  race_Other race_White
0       2         State-gov   77516  ...        0.0         0.0        1.0
1       3  Self-emp-not-inc   83311  ...        0.0         0.0        1.0
2       2           Private  215646  ...        0.0         0.0        1.0
3       3           Private  234721  ...        1.0         0.0        0.0
4       1           Private  338409  ...        1.0         0.0        0.0
...    ..               ...     ...  ...        ...         ...        ...
48837   2           Private  215419  ...        0.0         0.0        1.0
48838   4               NaN  321403  ...        1.0         0.0        0.0
48839   2           Private  374983  ...        0.0         0.0        1.0
48840   2           Private   83891  ...        0.0         0.0        0.0
48841   1      Self-emp-inc  182148  ...        0.0         0.0        1.0

[48842 rows x 33 columns]